body{
    font-family: Verdana;
    text-align: center;
    }
    
    h1, #myButton{
    font-size: 4rem;
    padding: 5px 25px;
    border-radius: 5px;
    background-color:rgb(21, 226, 21)
    }
    
    .myLabels{
    font-size:6em;

    }
    
